omnipose_brightfield.py
tempdir
__pycache__/
minivillage_pipeline_bf_masks_csvinput.cppipe
minimal_pipeline.cppipe
minimal_pipeline.cpproj
minivillage_pipeline_bf_masks_csvinput.cpproj
minivillage_pipeline_bf_masks_standardinput_txtfile.cppipe
minivillage_pipeline_bf_masks_standardinput_txtfile.cpproj
minivillage_pipeline_bf_masks_standardinput_withmetadatatags_backslash.cppipe
minivillage_pipeline_bf_masks_standardinput_withmetadatatags.cppipe
minivillage_pipeline_bf_masks_standardinput.cppipe
minivillage_pipeline_bf_masks_standardinput.cpproj
